In [1]:
#-*- coding:utf-8 -*-
import pandas as pd
from pandas import *

import sys
reload(sys)
sys.setdefaultencoding('utf-8') #允許處理中文路徑

In [2]:
!type C:\Users\zzz20255\BarryBonds.csv

In [3]:
df = pd.read_csv("C:\Users\zzz20255\BarryBonds.csv")

In [4]:
df

    Year    G   AB    R    H  2B  3B  HR  RBI   BB   SO     BA  IBB
0   1986  113  413   72   92  26   3  16   48   65  102  0.223    2
1   1987  150  551   99  144  34   9  25   59   54   88  0.261    3
2   1988  144  538   97  152  30   5  24   58   72   82  0.283   14
3   1989  159  580   96  144  34   6  19   58   93   93  0.248   22
4   1990  151  519  104  156  32   3  33  114   93   83  0.301   15
5   1991  153  510   95  149  28   5  25  116  107   73  0.292   25
6   1992  140  473  109  147  36   5  34  103  127   69  0.311   32
7   1993  159  539  129  181  38   4  46  123  126   79  0.336   43
8   1994  112  391   89  122  18   1  37   81   74   43  0.312   18
9   1995  144  506  109  149  30   7  33  104  120   83  0.294   22
10  1996  158  517  122  159  27   3  42  129  151   76  0.308   30
11  1997  159  532  123  155  26   5  40  101  145   87  0.291   34
12  1998  156  552  120  167  44   7  37  122  130   92  0.303   29
13  1999  102  355   91   93  20   2  34   83   73   62  0.262    9
14  2000  143  480  129  147  28   4  49  106  117   77  0.306   22
15  2001  153  476  129  156  32   2  73  137  177   93  0.328   35
16  2002  143  403  117  149  31   2  46  110  198   47  0.370   68
17  2003  130  390  111  133  22   1  45   90  148   58  0.341   61
18  2004  147  373  129  135  27   3  45  101  232   41  0.362  120
19  2005   14   42    8   12   1   0   5   10    9    6  0.286    3
20  2006  130  367   74   99  23   0  26   77  115   51  0.270   38
21  2007  126  340   75   94  14   0  28   66  132   54  0.276   43

In [5]:
df = pd.read_table("C:\Users\zzz20255\BarryBonds.csv" , sep = ",")

In [6]:
df

    Year    G   AB    R    H  2B  3B  HR  RBI   BB   SO     BA  IBB
0   1986  113  413   72   92  26   3  16   48   65  102  0.223    2
1   1987  150  551   99  144  34   9  25   59   54   88  0.261    3
2   1988  144  538   97  152  30   5  24   58   72   82  0.283   14
3   1989  159  580   96  144  34   6  19   58   93   93  0.248   22
4   1990  151  519  104  156  32   3  33  114   93   83  0.301   15
5   1991  153  510   95  149  28   5  25  116  107   73  0.292   25
6   1992  140  473  109  147  36   5  34  103  127   69  0.311   32
7   1993  159  539  129  181  38   4  46  123  126   79  0.336   43
8   1994  112  391   89  122  18   1  37   81   74   43  0.312   18
9   1995  144  506  109  149  30   7  33  104  120   83  0.294   22
10  1996  158  517  122  159  27   3  42  129  151   76  0.308   30
11  1997  159  532  123  155  26   5  40  101  145   87  0.291   34
12  1998  156  552  120  167  44   7  37  122  130   92  0.303   29
13  1999  102  355   91   93  20   2  34   83   73   62  0.262    9
14  2000  143  480  129  147  28   4  49  106  117   77  0.306   22
15  2001  153  476  129  156  32   2  73  137  177   93  0.328   35
16  2002  143  403  117  149  31   2  46  110  198   47  0.370   68
17  2003  130  390  111  133  22   1  45   90  148   58  0.341   61
18  2004  147  373  129  135  27   3  45  101  232   41  0.362  120
19  2005   14   42    8   12   1   0   5   10    9    6  0.286    3
20  2006  130  367   74   99  23   0  26   77  115   51  0.270   38
21  2007  126  340   75   94  14   0  28   66  132   54  0.276   43

In [9]:
df = pd.read_table("C:\Users\zzz20255\example.txt" , sep='\s+')

list(open('C:\Users\zzz20255\example.txt'))

['                     A                 B                C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb 0.927272 0.302904 -0.032399\n',
 'CCC -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382 1.100491']

In [8]:
df # columns 只有3個 所以最左邊自動被判定為 index

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
CCC -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [4]:
import json
obj = """
{"name" : "Wes",
"p1aces_lived" : ["United 5tates" , "Spain" , "Germany"],
"pet" : null ,
"siblings": [{ "name" : "Scott", "age": 25, "pet" : "Zuko"},
                {"name" : "Katie", "age" : 33, "pet" : "Cisco" }]
}
"""

In [5]:
# 把 JSON 字符串 轉成 PYTHON 格式
result = json.loads(obj)

In [6]:
result

{u'name': u'Wes',
 u'p1aces_lived': [u'United 5tates', u'Spain', u'Germany'],
 u'pet': None,
 u'siblings': [{u'age': 25, u'name': u'Scott', u'pet': u'Zuko'},
  {u'age': 33, u'name': u'Katie', u'pet': u'Cisco'}]}

In [7]:
# 把 PYTHON 對象 轉成 JSON 格式
asjson = json.dumps(result)

In [8]:
asjson

'{"pet": null, "siblings": [{"pet": "Zuko", "age": 25, "name": "Scott"}, {"pet": "Cisco", "age": 33, "name": "Katie"}], "p1aces_lived": ["United 5tates", "Spain", "Germany"], "name": "Wes"}'

In [14]:
# 用 Json 構造 DataFrame
siblings = DataFrame(result['siblings'],columns =['name','age'])
siblings

    name  age
0  Scott   25
1  Katie   33

In [15]:
# Web 信息收集
from lxml.html import parse
from urllib2 import urlopen

In [19]:
parsed = parse(urlopen('http://finance.yahoo.com/q/op?s=AAPL+Options'))
parsed

In [21]:
doc = parsed.getroot()
doc

In [23]:
links = doc.findall('.//a')
links[15:20]

[<Element a at 0xb496638>,
 <Element a at 0xb496688>,
 <Element a at 0xb4966d8>,
 <Element a at 0xb496728>,
 <Element a at 0xb496778>]

In [29]:
# HTML元素對象 -> 解析  針對 url 用 get方法  針對 文本 用 text_content
lnk = links[28]
lnk

In [30]:
lnk.get('href')

'http://finance.yahoo.com/blogs/author/rick-newman/'

In [31]:
lnk.text_content()

'Rick Newman'

In [32]:
#獲得文檔中所有的 url
urls = [lnk.get('href') for lnk in doc.findall('.//a')]

In [33]:
urls[-10:]

['/quote/AAPL/key-statistics',
 'http://help.yahoo.com/kb/index?page=content&y=PROD_FIN&locale=en-US&id=SLN2310&pir=Zm7qO7BibUkC.4dK5GxJ95B3DCru2iA5odBNM0pj',
 'http://help.yahoo.com/l/us/yahoo/finance/',
 'https://yahoo.uservoice.com/forums/382977',
 'http://info.yahoo.com/privacy/us/yahoo/',
 'http://info.yahoo.com/relevantads/',
 'http://info.yahoo.com/legal/us/yahoo/utos/utos-173.html',
 'http://twitter.com/YahooFinance',
 'http://facebook.com/yahoofinance',
 'http://yahoofinance.tumblr.com']

In [40]:
#放置數據的表格
tables = doc.findall('.//table')
calls = tables[2]
puts = tables[1]
calls #puts 都是 HTML元素對象

In [44]:
rows = calls.findall('.//tr')
rows

[<Element tr at 0xb4b02c8>,
 <Element tr at 0xb4b0368>,
 <Element tr at 0xb4b03b8>,
 <Element tr at 0xb4b0408>]

In [46]:
def _unpack(row, kind='td'):
    elts = row.findall('.//%s' % kind)
    return [val.text_content() for val in elts ]

In [50]:
_unpack(rows[1])

["Day's Range", '98.50 - 99.30']

In [51]:
from pandas.io.parsers import TextParser

In [64]:
# 需要修正
def parse_options_data(table):
    rows = table.findall ('.//tr')
    header = _unpack(rows[0] , kind='th')
    data = [_unpack(r) for r in rows[1:]]
    return TextParser(data, names=header).get_chunk()

In [65]:
call_data = parse_options_data(calls)

In [66]:
put_data = parse_options_data(puts)

In [67]:
call_data

              0              1
0   Day's Range  98.50 - 99.30
1        Volume     27,845,498
2  Avg Vol (3m)     39,666,214